<h2>{{movieSpecs.Title}}</h2>
<img ng-src="{{movieSpecs.Poster}}" />
<h4>Starring: {{movieSpecs.Actors}} </h4>
<p>{{movieSpecs.plot}}</p>
<h4>Additional Information:</h4>
<!-- <ul>
  <li>Released: {{movieSpecs.Released}}</li>
  <li>{{movieSpecs.}}</li>
  <li>{{movieSpecs.}}</li>
  <li>{{movieSpecs.}}</li>
  <li>{{movieSpecs.}}</li>
  <li>{{movieSpecs.}}</li>
  <li>{{movieSpecs.}}</li>
  <li>{{movieSpecs.}}</li>
  <li>{{movieSpecs.}}</li>

</ul>
awards
country
director
genre
language
metascore
rated
runtime
title
writer
year
imdbrating
imdbvotes -->