
<h3>{{pokemon.name}}</h3>
<img ng-show="pokemon.image" ng-src="{{pokemon.image}}" />
<img ng-show="!pokemon.image" src="http://bloximages.chicago2.vip.townnews.com/azdailysun.com/content/tncms/live/components/lee_core_2/resources/images/classifieds-no-photo.gif?_dc=1444288418" />
<ul>
  <li>Types:
    <ul>
      <li ng-repeat="type in pokemon.types">{{type.name}}</li>
    </ul>
  </li>
  <li>Moves:
    <ul>
      <li ng-show="!pokemon.moves.length">No moves found.</li>
      <li ng-hide="!pokemon.moves.length" ng-repeat="move in pokemon.moves | limitTo: 6">{{move.name}}</li>
    </ul>
</ul>
