<!DOCTYPE html>
<html ng-app="movieApp">
<head>
  <title>Search for Movies!</title>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/controllers.js"></script>
  <script src="/js/factories.js"></script>
  <!-- <base href="/"> -->
</head>
<body>
  <header ng-controller="SearchController">
    <h1>Movie Search</h1>
    <h3>Enter a movie title to search for.</h3>
    <form>
      <label>
        <input type="text" placeholder="movie title" ng-model="movie.title" />
      </label>
      <button ng-click="redirect()">Search!</button>
      <button ng-click="clear()">Reset</button>
    </form>
  </header>

  <div ng-view></div>

</body>
</html>